.tarea-alum-admin-container .card-custom {
    background: #ffffff;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: 1px solid #e3e6f0;
}

.tarea-alum-admin-container .card-header-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.25rem;
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.tarea-alum-admin-container .btn-icon {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.tarea-alum-admin-container .card-body-custom {
    padding: 1.25rem;
    overflow-y: auto;
}

.tarea-alum-admin-container .list-group-custom .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.tarea-alum-admin-container .list-group-item:hover {
    background-color: #f8f9fa;
}

.tarea-alum-admin-container .list-group-item .task-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tarea-alum-admin-container .list-group-item .btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5em 1em;
    cursor: pointer;
    margin-right: 10px; /* Agregamos el margen de 10px aquí */
}

.tarea-alum-admin-container .list-group-item .badge {
    padding: 0.5em 0.75em;
    font-size: 0.9em;
    border-radius: 0.25rem;
}

.tarea-alum-admin-container .badge-danger {
    background-color: #dc3545;
}

.tarea-alum-admin-container .badge-success {
    background-color: #28a745;
}

/* Estilo para pantallas móviles, eliminando el margen */
@media (max-width: 767px) {
    .tarea-alum-admin-container .card-header-custom,
    .tarea-alum-admin-container .list-group-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .tarea-alum-admin-container .list-group-item .btn,
    .tarea-alum-admin-container .list-group-item .badge {
        margin-right: 0px; /* En móvil eliminamos el margen */
        margin-top: 10px;
        width: 100%;
    }

    .tarea-alum-admin-container .btn-icon {
        align-self: flex-start;
    }
}
