.asignar-ternas-admin .asignar-ternas-container {
  padding-top: 20px;
}

.asignar-ternas-admin .catedraticos-list {
  max-height: 70vh;
  overflow-y: auto;
}

.asignar-ternas-admin .dropzone {
  min-height: 150px;
  border: 2px dashed #ccc;
  background-color: #f8f9fa;
  border-radius: 5px;
}

.asignar-ternas-admin .catedratico-cuadro {
  background-color: #e9ecef;
}

.asignar-ternas-admin .catedraticos-list li:hover {
  background-color: #f1f1f1;
}

.asignar-ternas-admin .card-header {
  font-size: 1.25rem;
}

.asignar-ternas-admin .card {
  border-radius: 10px;
}

.asignar-ternas-admin .dropzone p {
  font-size: 0.9rem;
  color: #6c757d;
}

.asignar-ternas-admin .btn-sm {
  font-size: 0.8rem;
}

.asignar-ternas-admin .btn-upload {
  width: 100%;
  background-color: #007bff; /* Azul Bootstrap */
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 123, 255, 0.4); /* Sombra */
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-top: -6px;
}

.asignar-ternas-admin .btn-upload:hover {
  background-color: #0056b3; /* Azul más oscuro en hover */
  box-shadow: 0 6px 8px rgba(0, 123, 255, 0.6); /* Sombra más intensa */
}

.asignar-ternas-admin .btn-upload:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
