.wrapper {
  display: flex;
  height: 100vh;
}

.content-wrapper {
  flex: 1;
  padding: 20px;
  background-color: #f4f6f9;
}

@media (max-width: 400px) {
  .content-wrapper {
    padding: 0px !important;
  }

  .bitacora-item {
    padding: 10px !important;
  }

  .admin-content {
    padding: 10px !important;
  }

  .bitacora-label {
    padding: 10px;
    margin-right: 10px !important;
  }
}

.admin-content {
  background-color: #ffffff;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bitacora-container {
  overflow-y: auto;
  min-height: 300px; /* Ajuste de altura mínima para mantener los botones fijos */
  max-height: calc(100vh - 200px);
  padding-bottom: 20px;
}

.bitacora-item {
  display: flex;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  margin-top: 15px;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.bitacora-item:hover {
  transform: translateY(-5px);
}

.bitacora-label {
  flex: 0 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  background-color: #093A68;
  border-radius: 8px;
  padding: 10px;
  margin-right: 20px;
  text-align: center;
}

@media (max-width: 700px) {
  .bitacora-label {
    position: absolute;
    flex: 0 0 100px;
    font-weight: bold;
    color: #fff;
    background-color: #093A68;
    border-radius: 8px;
    padding: 10px;
    margin-right: 20px;
    text-align: center;
    top: -12px;
    right: -5px;
  }
}

.bg-green {
  background-color: #093A68;
}

.bitacora-content {
  flex: 1;
}

.bitacora-time {
  color: #999;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.bitacora-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bitacora-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.bitacora-user-id {
  font-size: 0.85rem;
  color: #999;
}

.bitacora-body p {
  margin: 5px 0;
}

/* Estilos para la paginación */
.pagination-container {
  height: 50px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  list-style: none;
  padding: 0;
  gap: 8px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.page-item {
  display: block;
}

.page-link {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.page-item.active .page-link,
.page-link:hover {
  background-color: #0056b3;
}

.page-item.disabled .page-link {
  background-color: #cccccc;
  pointer-events: none;
}

/* Ajustes adicionales para pantallas pequeñas */
@media (max-width: 768px) {
  .bitacora-label {
    flex: 0 0 80px;
  }

  .bitacora-item {
    padding: 10px;
  }

  .bitacora-title {
    font-size: 1rem;
  }

  .bitacora-time {
    font-size: 0.8rem;
  }

  .pagination {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 400px) {
  .bitacora-label {
    flex: 0 0 60px;
    padding: 8px;
  }

  .bitacora-title {
    font-size: 0.9rem;
  }

  .bitacora-time {
    font-size: 0.75rem;
  }

  .pagination {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .page-link {
    padding: 5px 8px;
    font-size: 0.8rem;
  }
}
