#asignarTernasAdminComponent .asignar-ternas-container {
  padding-top: 20px;
}

#asignarTernasAdminComponent .catedraticos-list {
  max-height: 70vh;
  overflow-y: auto;
}

#asignarTernasAdminComponent .dropzone {
  min-height: 150px;
  border: 2px dashed #ccc;
  background-color: #f8f9fa;
  border-radius: 5px;
}

#asignarTernasAdminComponent .catedratico-cuadro {
  background-color: #e9ecef;
}

#asignarTernasAdminComponent .catedraticos-list li:hover {
  background-color: #f1f1f1;
}

#asignarTernasAdminComponent .card-header {
  font-size: 1.25rem;
}

#asignarTernasAdminComponent .card {
  border-radius: 10px;
}

#asignarTernasAdminComponent .dropzone p {
  font-size: 0.9rem;
  color: #6c757d;
}

#asignarTernasAdminComponent .btn-sm {
  font-size: 0.8rem;
}
