/* Estilo general para el wrapper */
.wrapper {
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
  
/* Ajuste para el content-wrapper */
.content-wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
    top: 100px;
}
  
/* Contenedor para los filtros y la barra de búsqueda */
.filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
  
/* Ajuste de tamaño para la barra de búsqueda */
.filters-container input.form-control {
    width: 550px;
}
  
/* Contenedor para los filtros */
.filters-container .form-select {
    margin-left: 8px;
    max-width: 120px;
}
  
/* Contenedor para la lista de estudiantes */
.student-list-container {
    flex-basis: 50%;
    padding-right: 20px;
    overflow-y: auto;
    height: calc(100vh - 220px); /* Altura ajustada */
}
  
/* Estilo para la lista de estudiantes */
.student-list {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
    max-height: 100%;
}
  
/* Estilo individual para cada estudiante */
.student-item {
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    text-align: center;
    transition: background-color 0.3s ease;
}
  
.student-item:hover {
    background-color: #e9ecef;
}
  
.student-item.active {
    background-color: #007bff;
    color: white;
}
  
/* Contenedor para el Time Line */
.timeline-container {
    flex-basis: 50%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    height: calc(100vh - 220px); /* Altura ajustada */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}
  
/* Eventos del timeline */
.timeline-events {
    max-height: calc(100% - 60px); /* Espacio para el botón */
    overflow-y: auto;
    padding-right: 15px; /* Evita el solapamiento con el botón */
}

/* Diseño para cada entrada del Time Line */
.timeline-event {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease;
}

.timeline-event:hover {
    background-color: #e9ecef;
}

.timeline-event h4 {
    margin-bottom: 5px;
    font-size: 16px;
}

.timeline-event p {
    margin: 0;
    font-size: 14px;
    color: #555;
}
  
/* Botón fijo en la esquina inferior derecha */
.timeline-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

/* Estilo para el botón de Subir Estudiantes */
button.subir-estudiantes {
    width: 1100px;
    height: 50px;
    margin-top: 20px;
}
