.list-ternas-admin-container {
    padding: 20px;
}

.terna-card {
    border-radius: 10px;
}

.terna-card .card-header {
    text-align: center;
    font-size: 1.5rem;
}

.terna-card .list-group-item {
    font-size: 1.1rem;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.terna-card .list-group-item strong {
    font-weight: bold;
    color: #007bff;
}

.terna-card .list-group-item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-body {
    padding: 1.25rem;
}

@media (max-width: 767px) {
    .terna-card .list-group-item {
        flex-direction: column;
        align-items: flex-start;
    }
}
