body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hold-transition.login-page {
    background-color: #002e5b;
    height: 100vh;
    width: 100vw; /* Abarca toda la pantalla horizontalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/imgs/sistemas1_11zon.webp'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
}

.login-box {
    display: flex;
    width: 90%;
    max-width: 1200px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.3); /* Fondo semitransparente */
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-between;
}

.login-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002E5B; /* Fondo azul */
    position: relative;
    opacity: 0.82; /* Ajusta la opacidad aquí */
}

.login-logo-image {
    width: 80%;
    height: auto;
    position: absolute;
    top: 12%;
    left: 10%;
}

.card {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo del formulario */
}

.card-body {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.umg-logo {
    width: 150px;
    margin: 20px 0;
}

.login-logo h2, .login-logo h3 {
    margin: 0;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group-text {
    background-color: transparent;
    border: none;
    padding: 0 15px;
    font-size: 20px;
}

.form-control {
    height: 40px; 
    padding-left: 10px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    /* Oculta el login-logo en pantallas pequeñas */
    .login-image {
        display: none;
    }

    /* Centra la tarjeta del formulario */
    .login-box {
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 90%; /* Asegura que el formulario ocupe un buen ancho en pantallas pequeñas */
        margin-top: 10px;
    }
}
