.tarea-alum-admin .card-custom {
    background: #f9fafc;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Agrega sombra para un efecto elevado */
}

.tarea-alum-admin .card-header-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.25rem;
    background-color: #007bff; /* Color de fondo del encabezado */
    font-weight: bold;
}

.tarea-alum-admin .btn-icon {
    background: none;
    border: none;
    color: black; /* Cambia el color a blanco para que combine con el encabezado */
    font-size: 1.5em;
    cursor: pointer; /* Hace que el icono sea más interactivo */
}

.tarea-alum-admin .card-body-custom {
    padding: 1.25rem;
    height: 820px;
}

.tarea-alum-admin .list-group-custom .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #fff;
    border-bottom: 1px solid #e9ecef;
    transition: background-color 0.2s ease; /* Transición para efecto de hover */
}

.tarea-alum-admin .list-group-item:last-child {
    border-bottom: none;
}

.tarea-alum-admin .list-group-item:hover {
    background-color: #f0f0f0; /* Efecto hover para los items */
}

.tarea-alum-admin .list-group-item .task-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tarea-alum-admin .list-group-item .btn {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px; /* Ajusta la distancia al borde derecho */
    background-color: #007bff; /* Color del botón que coincide con el encabezado */
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5em 1em; /* Ajusta el padding para hacer el botón más grande */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tarea-alum-admin .list-group-item .btn:hover {
    background-color: #0056b3; /* Oscurece el botón al hacer hover */
}

.tarea-alum-admin .list-group-item .badge {
    padding: 0.5em 0.75em;
    font-size: 0.9em;
    border-radius: 0.25rem;
}

.tarea-alum-admin .badge-danger {
    background-color: #dc3545; /* Color rojo para puntajes menores de 61 */
}

.tarea-alum-admin .badge-success {
    background-color: #28a745; /* Color verde para puntajes mayores o iguales a 61 */
}

/* Responsiveness para móviles (pantallas menores a 767px) */
@media (max-width: 767px) {

    .tarea-alum-admin .card-header-custom {
        flex-direction: column; /* Los elementos se alinean verticalmente */
        text-align: center; /* Texto centrado */
    }

    .tarea-alum-admin .list-group-custom .list-group-item {
        display: flex;
        flex-direction: column; /* Organiza los contenidos verticalmente */
        align-items: flex-start; /* Alinea los contenidos al inicio */
        padding: 1rem;
        position: relative; /* Establece la posición relativa para contenedores de ítems */
        width: 100%; /* Asegura que el ítem use todo el ancho disponible */
    }

    .tarea-alum-admin .list-group-item .action-area {
        display: flex;
        flex-direction: row; /* Coloca elementos en una fila */
        justify-content: flex-end; /* Alinea los elementos al final (derecha) */
        align-items: center; /* Alinea los elementos verticalmente en el centro */
        width: 100%; /* Utiliza todo el ancho disponible para el contenedor de acción */
    }

    .tarea-alum-admin .list-group-item .btn,
    .tarea-alum-admin .list-group-item .badge {
        margin-right: 10px; /* Espacio a la derecha de cada elemento */
        margin-top: 20px;
    }

    .tarea-alum-admin .list-group-item .badge {
        position: absolute; /* Posicionamiento absoluto para el badge */
        right: 10px; /* Ajusta la posición derecha para posicionar correctamente los puntos */
        top: calc(64% + 10px); /* Baja el badge para alinearlo con el centro del botón */
        transform: translateY(-50%); /* Ajusta la posición vertical para centrar exactamente con el botón */
    }
}

