.tarea-gen-admin .card-custom {
    background: #f9fafc;
    border-radius: 0.25rem;
}

.tarea-gen-admin .card-header-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.25rem;
    background-color: #007bff;
    color: #fff;
}

.tarea-gen-admin .btn-primary-custom {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 16px;
    margin-right: auto; /* Empuja todo lo que está a la derecha hacia el extremo */
}

.tarea-gen-admin .form-control-custom {
    width: 150px; /* Ancho fijo para el selector */
}

.tarea-gen-admin .card-body-custom {
    padding: 1.25rem;
}

.tarea-gen-admin .list-group-custom .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.tarea-gen-admin .list-group-custom .list-group-item .details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea el contenido a la izquierda */
}

.tarea-gen-admin .list-group-item .details small {
    color: #6c757d; /* Establece el color de las fechas */
    display: block; /* Asegura que las fechas tomen su propia línea en escritorio */
}

.tarea-gen-admin .list-group-custom .list-group-item .badge {
    align-self: flex-start;
    color: #6c757d; /* Texto gris para los puntos en modo desktop */
    margin-top: 7px; /* Espacio entre las fechas y los puntos */
}

.tarea-gen-admin .btn-icon {
    background: none;
    border: none;
    color: #ffc107;
}

/* Modal specific styles */
.tarea-gen-admin .modal-custom {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
}

.tarea-gen-admin .modal-backdrop-custom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
}

/* Ajustes Responsivos para teléfonos */
@media (max-width: 768px) {
    .tarea-gen-admin .card-header-custom {
        flex-wrap: wrap;
    }

    .tarea-gen-admin .btn-primary-custom, 
    .tarea-gen-admin .form-control-custom {
        margin-top: 10px;
        width: 100%; /* Toma todo el ancho en dispositivos pequeños */
        margin-right: 0;
    }

    .tarea-gen-admin .form-control-custom {
        order: 3; /* Asegura que el selector de cursos se muestre al final */
    }

    .tarea-gen-admin .list-group-custom .list-group-item {
        flex-direction: column; /* Elementos organizados verticalmente */
        align-items: start; /* Alineación al inicio para un aspecto limpio */
        padding: 1rem; /* Espaciado interno */
    }

    .tarea-gen-admin .list-group-item small {
        color: #6c757d; /* Cambia el color de las fechas a gris */
        display: block; /* Hace que las fechas tomen su propia línea */
    }

    .tarea-gen-admin .list-group-item .badge {
        color: #6c757d; /* Texto gris para los puntos */
        margin-top: 5px; /* Espacio entre las fechas y los puntos */
    }
}

/* Estilos específicos para escritorio */
@media (min-width: 769px) {
    .tarea-gen-admin .list-group-custom .list-group-item {
        flex-direction: row; /* Elementos organizados horizontalmente */
        align-items: center; /* Centra los elementos verticalmente */
    }

    .tarea-gen-admin .list-group-item .details {
        flex-direction: row; /* Elementos de detalles en fila */
    }

    .tarea-gen-admin .list-group-item .details .badge {
        margin-left: 20px; /* Espacio a la izquierda de los puntos */
        order: 2; /* Orden para asegurar que aparece después de las fechas */
    }
}
