/* Contenedor principal */
.wrapper {
  display: flex;
  height: 100vh;
}

/* Sidebar estilo */
.sidebar {
  width: 250px;
  background-color: #002e5b;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

/* Ocultar sidebar usando translateX */
.sidebar-collapsed .sidebar {
  transform: translateX(-250px);
}

/* Ajustar el contenido cuando el sidebar está oculto */
.sidebar-collapsed .content-wrapper {
  margin-left: 0; /* Quita el espacio reservado para el sidebar */
  width: 100%; /* El contenido ocupa todo el ancho */
}

/* Estilo del contenido principal */
.content-wrapper {
  flex-grow: 1;
  margin-left: 250px; /* Espacio para el sidebar cuando está visible */
  transition: margin-left 0.3s ease-in-out;
}

/* Cuando el sidebar está oculto, quitar el margen */
.content-wrapper.content-active {
  margin-left: 0; /* Ajuste cuando el sidebar está oculto */
}

/* Admin Content */
.admin-content {
  padding: 20px;
  margin-left: 250px; /* Espacio por defecto cuando el sidebar está visible */
  transition: margin-left 0.3s ease-in-out;
}

/* Quitar el margen cuando el sidebar está oculto */
.admin-content.active {
  margin-left: 0;
}
