.Perfil .py-4 {
    margin-top: 50px;
}

.Perfil h2 {
    margin-bottom: 20px;
}

.Perfil .flex-md-row {
    gap: 10px;
}

@media (max-width: 568px) {
    .Perfil .flex-md-row {
        gap: 0px;
    }
}

.Perfil .imageContainer {
    width: 150px;
    height: 150px;
}

.Perfil .editIcon {
    cursor: pointer;
}
